<!DOCTYPE html>
<html>
  <head>
    <title>recipebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="font-weight-bold">
      <%= link_to 'recipebook', root_path, class: "navbar-brand" %>
    </div>  
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <div class="font-weight-bolder">
              <%= link_to 'マイページ', user_path, class: "nav-link" %>
              </div>
            </li>
            <li class="nav-item">
              <div class="font-weight-bolder">
                <%= link_to '新規投稿', new_recipe_path, class: "nav-link" %>
              </div>  
            </li>
            <li class="nav-item">
              <div class="font-weight-bolder">
                <%= link_to '投稿一覧', recipes_path, class: "nav-link" %>
              </div>  
            </li>
            <li class="nav-item">
              <div class="font-weight-bolder">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </div>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <div class="font-weight-bolder">
              <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
              </div>
            </li>
            <li class="nav-item">
              <div class="font-weight-bolder">
              <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
              </div>
            </li>
          </ul>
        </div>
      <% end %>
    
    </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>


    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>
  </body>
</html>